.mycheckbox{
  margin-top:5px;
  margin-left:5px;
}
.mycheckboxdiv{
   text-align:right;
   margin-right:30px;
}

 .side-nav{
	
	width:140px;
}

.ui-jqgrid .ui-jqgrid-view, .ui-jqgrid .ui-jqgrid-pager {
    z-index: 9;
}

#wrapper {
    padding-right: 140px;
}
.errorField {
    border-color: yellow;
    border-width: medium;
  }

  .nonErrorField {
    border: none;
  }
.ui-jqgrid .ui-jqgrid-view input, .ui-jqgrid .ui-jqgrid-view select, .ui-jqgrid .ui-jqgrid-view textarea, .ui-jqgrid .ui-jqgrid-view button {
    font-size: 11px;
    height: 24px;
    margin-top: 0px;
}

.ui-jqgrid .ui-jqgrid-htable .ui-th-div {
    height: 17px;
    margin-top: 0px;
    display: inine-block;
}


#chart{
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* .bar {
  fill: steelblue;
} */

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
/* 
rect:hover {
  opacity: 1 ;
  
} */
g rect:hover {
	rect:hover ;
	opacity: 1 ;
}